body{
    height: 400px;
    margin: 0 auto;
    text-align: center;
}

div{
    margin: 20px auto;
    height: 50px;
    width: 550px;
    border: 1px solid black;
    text-align: center;
    align-content: center;
}

.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

div:nth-last-child(2n){
    background-color: aquamarine;
}